@charset "UTF-8";
.course-disclaimer {
  margin-top: 2em;
  padding: 1.33em;
  background-color: #fafbf6;
  border: 1px solid white;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  line-height: 1.43em;
}

.tafe-disclaimer {
  margin-top: 15px;
}
