@charset "UTF-8";
.events-listing-page, .news-listing-page {
  -webkit-font-smoothing: auto;
  @include breakpoint(tablet) {
    margin-right: -51px;
  }
  .views-row {
    border-bottom: 1px solid $grey8;
    &:last-child {
      border-bottom: none;
    }
    .views-field-field-image {
      margin-bottom: 10px;
      @include breakpoint(tablet) {
        float: left;
        width: 27%;
        padding-top: 6px;
      }
      @include breakpoint(desktop) {
        width: 20%;
      }
    }
    .row-meta {
      font-size: 11px;
      color: $green;
      display: block;
      margin-top: 4px;
      .date-display-range {
        display: inline-block;
      }
      &.media-release-date {
        line-height: 20px;
      }
    }
    p {
      margin-bottom: 0;
      line-height: 1.45;
    }
    &.with-image .row-right {
      @include breakpoint(tablet) {
        float: left;
        width: 73%;
      }
      @include breakpoint(desktop) {
        width: 80%;
      }
    }
    a {
      border-bottom: none;
      color: $grey3;
      padding: 16px 25px 20px 25px;
      display: flex;
      img {
        margin-right: 1em;
      }
      &:hover {
        color: $grey3;
        text-decoration: none;
        background-color: $light_blue5;
        h2 {
          color: #363492;
          border-bottom: 1px solid #363492;
          text-decoration: none;
        }
      }
      h2 {
        display: inline;
        font-size: 17px;
        line-height: 1.3;
        margin-bottom: 4px;
        color: $blue;
        font-weight: 600;
        margin-top: 0;
      }
    }
    .ds-2col > .group-left {
      @include breakpoint(tablet) {
        width: 20%;
      }
    }
    .ds-2col > .group-right {
      @include breakpoint(tablet) {
        width: 80%;
      }
    }
  }
  .pagination {
    .active {
      a {
        font-weight: bold;
        border-bottom-color: $grey8;
      }
      span {
        color: $grey9;
        cursor: default;
        background-color: $offwhite2;
        border-color: $grey8;
        font-weight: bold;
      }
    }
    a {
      border-bottom-color: $grey8;
    }
    .disabled a {
      border-bottom-color: $grey8;
    }
    a:hover {
      background-color: $offwhite2;
    }
    a:visited {
      color: purple;
    }
    .prev, .next {
      span.disabled {
        color: $grey9;
        cursor: default;
        border-color: $grey8;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  > .text-center {
    text-align: left;
  }
}

.news-listing-page .views-row a {
  display: inline;
}

.no-sidebar .view-display-id-event_page {
  @include breakpoint(tablet) {
    margin-right: 0;
  }
}

.news-listing-page {
  margin-top: 12px;
  .views-row {
    padding: 16px 25px 20px;
    cursor: pointer;
    a {
      padding: 0;
    }
    .views-field-field-image {
      display: none;
    }
    &:hover {
      background-color: $light_blue5;
      h2 {
        text-decoration: none;
        border-bottom: 1px solid #363492;
        color: $blue2;
      }
    }
    &.with-image {
      .views-field-field-image {
        display: block;
      }
    }
  }
}
