@charset "UTF-8";
$field_width_default: 210px;
$field_width_large: 530px;
$field_width_mini: 60px;
$field_width_small: 90px;
$field_height_default: 28px;
.form-item {
  margin: 1em 0;
}

.form-radios {
  margin: 1em 0;
}

input[type="file"] {
  width: auto;
  box-shadow: none;
  border: none;
  display: inline-block;
}

.webform-datepicker {
  select {
    width: auto;
    display: inline-block;
  }
}

span.form-required {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

.form-item .description, .required-fields-description {
  font-size: 1em;
  font-style: italic;
}

.form-item .description {
  margin-bottom: 9px;
  line-height: 20px;
}

.webform-component--robot-trap {
  display: none;
}

.node-type-webform {
  p:last-child {
    margin-bottom: 9px;
  }
  .field-name-body {
    .image-caption {
      width: 220px;
      max-width: 100%;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 0.2em;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(minitablet_DEPRECATED) {
        float: right;
        text-align: left;
        clear: right;
        margin-left: 25px;
        margin-right: 0;
      }
    }
  }
  .form-control {
    display: inline-block;
  }
}

form.webform-client-form {
  input, textarea, select, .uneditable-input {
    color: $grey2;
  }
  button.webform-submit.btn-primary {
    background: #f5f5f5;
    font-size: $baseFontSizePx;
    font-family: $baseFontFamily;
    font-weight: normal;
    border-bottom-color: $grey12;
  }
  input.form-text {
    height: $field_height_default;
    line-height: $field_height_default;
  }
  select {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    height: 28px;
    font-size: 1em;
    background-color: #ffffff;
    line-height: 28px;
    padding: 4px;
    height: $field_height_default;
    line-height: $field_height_default;
    @include border-radius(3px);
    font-family: $baseFontFamily;
  }
  @include breakpoint(minitablet_DEPRECATED) {
    input.form-text {
      width: $field_width_default;
    }
    select {
      width: $field_width_default+10;
    }
    .webform-datepicker select {
      width: auto;
    }
    input.input-xxlarge, select.input-xxlarge {
      width: 100%;
    }
    input.input-mini, select.input-mini {
      width: $field_width_mini;
    }
    input.input-small, select.input-small {
      width: $field_width_small;
    }
  }
  @include breakpoint(tablet) {
    input.input-xxlarge, select.input-xxlarge {
      width: $field_width_large;
    }
  }
  .webform-component-file {
    a[data-toggle="popover"], span.icon {
      display: none;
    }
  }
  input[type="file"] {
    padding: 10px 0;
  }
  .form-item {
    label {
      display: block;
    }
  }
  .captcha.panel {
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    .g-recaptcha .recaptcha-validate {
      border: 1px $red solid;
      &::after {
        background-color: $soft-peach;
        color: $terracotta;
        content: "Please verify you are a human.";
      }
    }
    .panel-heading {
      display: none;
    }
    .panel-body {
      padding: 0px;
      .help-block {
        display: none;
      }
    }
  }
}

// For use on the coursefinder__form class.
@mixin coursefinder_form() {
  margin: 0;
  .form-item {
    display: inline-block;
    margin-top: 0;
  }
  .form-radios {
    margin-bottom: 24px;
    label {
      margin-left: 0;
      display: inline;
      margin-right: 10px;
      font-weight: normal;
      font-size: 12px;
      padding-left: 25px;
    }
  }
  input[type='text'] {
    font-size: 14px;
    border: 1px solid $grey;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    width: 210px;
    color: $grey3;
    border-radius: 3px;
    padding: 0 4px;
  }
  button.submit {
    display: inline;
    margin-left: -6px;
    margin-top: 0;
    height: 36px;
    line-height: 36px;
    background: url(../images/btn-lg-arrow-orange.png) 100% 50% no-repeat transparent;
    padding: 0 18px 0 10px;
    color: $grey3;
    border: none;
    vertical-align: top;
  }
  .dropdown-menu > li {
    border-bottom: 1px solid $grey;
    -webkit-font-smoothing: auto;
    &:last-child {
      border-bottom: none;
    }
    a {
      color: $blue;
      padding: 3px 15px 3px 10px;
      border: none;
      &:hover, &:focus {
        text-decoration: underline;
        background-color: transparent;
        color: $blue2;
      }
    }
  }
}

// Dark blue radio buttons.
@mixin coursefinder_form_dark_radio() {
  input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: $blue6;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 -25px;
    margin-bottom: 3px;
    line-height: 20px;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      margin: 6px;
      border-radius: 50%;
    }
    &:checked {
      &:before {
        background: #ffffff;
      }
    }
  }
}
