.paragraphs-item-course-search {
  #block-vu-core-vu-course-search {
    h2.block-title {
      @include font(20px, 'futura');
    }

    input.form-text {
      background-color: $color-white-alabaster;
      color: $color-grey-dove;
    }

    .radio {
      .control-label {
        font-size: 14px;
      }
    }

    @include breakpoint($breakpoint-sm-up) {
      input.form-text {
        margin-bottom: 40px;
      }
    }

    @include breakpoint($breakpoint-md-up) {
      input.form-text {
        margin-bottom: 35px;
      }

      #edit-iam {
        top: 117px;
      }
    }
  }
}
