//
// Image paragraph style.
//

.paragraphs-item-image {
  padding-bottom: $spacing-vertical-bottom-lg;
  &:last-child {
    padding-bottom: 0;
  }
  
  .field-name-field-body {
    background: #f9f9f9;
    padding: 20px;
    padding-bottom: 20px !important; 
  } 
}

// @todo this is a specific style for Style guide.
// It should be removed once we implement the style guide properly.
.styleguide {
  .paragraphs-item-image {
    @extend .container;
    background: $color-grey-gallery;
    float: left;
    padding: 15px;
  }
}
