.map-component {
  .map-component-container {
    .map-component-location {
      #map-component-section {
        width: auto;
        height: 430px;
        .gm-style-iw.gm-style-iw-c {
          max-width: 200px !important;
          #marker-Pin-info {
            font-family: $font-futura !important;
            font-size: 14px !important;
            font-weight: 400;
            a {
              color: $color-blue-lochmara;
              text-decoration: underline;
            }
          }
        }
      }
      #map-component-content {
        font-family: $font-futura;
        font-size: 14px;
        a {
          color: $color-blue-lochmara;
          text-decoration: underline;
        }
      }
      /* The popup bubble styling. */
      .popup-bubble {
        /* Position the bubble centred-above its parent. */
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the bubble. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }
      /* The parent of the bubble. A zero-height div at the top of the tip. */
      .popup-bubble-anchor {
        /* Position the div a fixed distance above the tip. */
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 50px;
        left: 0;
      }
      /* This element draws the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* JavaScript will position this div at the bottom of the popup tip. */
      .popup-container {
        cursor: auto;
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
      }
    }
  }
  .map-component-places {
    ul {
      list-style: none;
      padding: 0px;
      background-color: $color-blue-lochmara;
      font-family: $font-futura;
      li {
        border-top: $color-blue-dark-lochmara solid 3px;
        padding: 17px;
        cursor: pointer;
        a {
          color: $color-white;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;
          .address {
            color: $color-white;
            font-size: 16px;
            font-weight: normal !important;
            display: block;
          }
        }
        &:last-child {
          border-bottom: $color-blue-dark-lochmara solid 3px;
        }
        &:hover {
          background-color: $color-blue-dark-lochmara;
        }
        &.active {
          background-color: $color-blue-dark-lochmara;
        }
      }
    }
  }
  &.full-width {
    .map-component-places {
      li {
        @include breakpoint($breakpoint-sm-up) {
          text-align: center;
          .address {
            display: inline-block;
          }
          .location-title::after {
            content: " - ";
          }
        }
      }
    }
    &.left-menu {
      display: flex;
      flex-direction: column;
      @include breakpoint($breakpoint-sm-up) {
        display: flex;
        flex-direction: row-reverse;
        .map-component-places {
          display: inline-block;
          width: 170px;
          overflow: scroll;
          height: 475px;
          ul {
            margin-bottom: 0px;
            li {
              text-align: left;
              .address {
                display: block;
              }
              .location-title::after {
                content: "";
              }
            }
          }
        }
        .map-component-container {
          flex: 8;
          display: flex;
          flex-direction: column;
        }
        #map-component-section {
          height: 475px;
        }
      }
    }
  }
}
