// Images.

$image-cross: '../images/cross.svg';
$image-cross-bahama: '../images/cross-bahama.svg';

$image-dropdown-link-arrow: '../images/menu-dropdown-arrow.svg';
$image-dropdown-link-arrow-hover: '../images/menu-dropdown-arrow-hover.svg';
$image-dropdown-link-arrow-active: $image-dropdown-link-arrow-hover;
$image-dropdown-link-arrow-lg: '../images/menu-dropdown-arrow-lg.svg';
$image-dropdown-link-arrow-hover-lg: '../images/menu-dropdown-arrow-lg-hover.svg';
$image-dropdown-link-arrow-active-lg: $image-dropdown-link-arrow-hover-lg;

$image-link-arrow: '../images/link-arrow.svg';
$image-link-arrow-hover: '../images/link-arrow-hover.svg';
$image-link-arrow--dark: '../images/link-arrow--dark.svg';
$image-link-arrow-hover--dark: '../images/link-arrow-hover--dark.svg';
$image-link-arrow-hover--chalice: '../images/link-arrow-hover--chalice.svg';

$image-link-external: '../images/link-external.svg';
$image-link-external-dark: '../images/link-external-dark.svg';
$image-link-external-elephant: '../images/link-external-elephant.svg';
$image-link-external-lochmara: '../images/link-external-lochmara.svg';

$image-quote-open: '../images/quote-open.svg';
$image-quote-open-hover: '../images/quote-open-hover.svg';
$image-quote-close: '../images/quote-close.svg';
$image-quote-close-hover: '../images/quote-close-hover.svg';
$image-conversation-bw-icon: '../images/conversation-bw-icon-32.png';
$image-orcid-bw-icon: '../images/id-bw-icon-32.png';
$image-conversation-wh-icon: '../images/conversation-wh-icon-32.png';
$image-orcid-wh-icon: '../images/id-wh-icon-32.png';

$image-qflow: '../images/qflow.png';
$image-qflow-hover: '../images/qflow-hover.png';
