#block-vu-core-vu-cbs-vuo-promo:before {
  background: {
    image: url('../images/logo-vu_online.svg');
    repeat: no-repeat;
    size: 100%;
  }
  display: block;
  height: 50px;
  margin-bottom: 20px;
  width: 140px;
}
