.atar-min-entry-data {
  font-size: 90%;
  margin-bottom: 0px;
  padding: 0px;
  margin: 0px;
}

.atar-min-entry-more {
  font-size: 70%;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 0px;
}

.field-name-atar-minimum-entry  {
  padding-bottom: 0px !important;
}
